body {
  background-color: gray;
}

#app {
  background-color: rgb(233,236,239);
}


.main-list:hover {
  background: #007bff;
}

.list-gray {
  background: #dde0e3;
}

.list-yellow {
  background: #F8FA6A;
}

.tab-content {
  width: 100%;
}

.borderless td, .borderless th {
  border: none;
}

.heading-cell {
  border-right: 2px solid #e9ecef !important;
}

#copy-btn {
  background: url("Octicons-clippy.svg") no-repeat;
  background-position: center;
  background-size: 19px;
  width: 25px;
  height: 25px;
  opacity: 0.0;
  border: transparent;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#summary:hover > #copy-btn, #copy-btn:hover {
  opacity: 0.55;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#copy-btn:hover {
  opacity: 0.9 !important;
  box-shadow: 0px 1px 1px #00000038;
  background-color: rgba(0,0,0,0.05);
  border: #00000014 1px solid;
}
