body {
  background-color: gray;
}

#app {
  background-color: rgb(233,236,239);
}


.main-list:hover {
  background: #007bff;
}

.list-gray {
  background: #dde0e3;
}

.list-yellow {
  background: #F8FA6A;
}

.tab-content {
  width: 100%;
}


